body {
    background-color: midnightblue
}

#StudentForm {
    margin-top: 300px;
}
.RegisterContainer {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
}

#MainTitle {
    color: darkblue;
    font-family: cursive;
}

#Title {
    font-size: 20px;
    color: darkblue;
    font-family: cursive;
}

#button {
    margin-left: auto;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: white;
    background-color: royalblue;
    font-size: 20px;
    font-family: cursive;
    margin-left: 40%;
}

    #button:hover {
        background-color: darkblue;
    }


.Text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.SelectOption {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}