
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrolment Form</title>
    <link rel="stylesheet" href="~/Content/css/StudentForm.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    @*<script type="text/javascript" src="~/Scripts/loginScript.js"></script>*@
    <script type="text/javascript" src="~/Scripts/Scripts/EnrolmentForm.js"></script>

</head>
<body>

    <div class="StudentForm">
        <Form id="StudentForm">
            <Div class="RegisterContainer">

                <h1 id="MainTitle">StudentForm</h1>

                <label id="Title">Name</label>
                <input id="name" class="Text" placeholder="Enter your name" name="name">


                <label id="Title">Surname</label>
                <input id="surname" class="Text" Placeholder="Enter your surname" name="surname">

                <label id="Title">Address</label>
                <input id="address" class="Text" Placeholder="Enter your Address" name="address">

                <label id="Title">Phone Number</label>
                <input id="phoneNumber" class="Text" Placeholder="Enter your phone number" name="phoneNumber">

                <label id="Title">Date Of Birth</label>
                <input id="date" class="Text" type="date" name="date">

                <label id="Title">Guardian Name</label>
                <input id="guardianName" class="Text" Placeholder="Enter your guardian name" name="guardianName">

                <label id="Title">Email Address</label>
                <input id="emailAddress" class="Text" Placeholder="Enter your email address" name="emailAddress">

                <label id="Title">NID</label>
                <input id="nid" class="Text" Placeholder="Enter your NID" name="nid">

                <label for="Subject" id="Title">Choose your Subject</label>

                <select class="SelectOption" id="subjects" name="">
                    <option value="default"></option>
                </select>
                <button onclick="SubmitForm()" id="button" type="submit">Submit</button>
            </Div>
        </Form>

    </div>
</body>
</html>